.footer
    //.container.site-footer.
        <ul class="site-footer-links">
          <li>© 2015 <span title="0.06836s from github-fe116-cp1-prd.iad.github.net">GitHub</span>, Inc.</li>
            <li><a href="/site/terms" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
            <li><a href="/site/privacy" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
            <li><a href="/security" data-ga-click="Footer, go to security, text:security">Security</a></li>
            <li><a href="/contact" data-ga-click="Footer, go to contact, text:contact">Contact</a></li>
            </ul>
    p.
        Make by Orange at Mar 04 ,this is version 0.01 thanks.

