footer
      .container
        .row
          .col-lg-12
            ul.list-inline
              li
                a(href='#') 主页
              li.footer-menu-divider ⋅
              li
                a(href='#about') 关于
              li.footer-menu-divider ⋅
              li
                a(href='#services') 服务
              li.footer-menu-divider ⋅
              li
                a(href='#contact') 联系我们
            p.copyright.text-muted.small Copyright © Big Orange Inc 2005-2014. All Rights Reserved.
