// Navigation
nav.navbar.navbar-default.navbar-fixed-top.topnav(role='navigation')
    .container.topnav
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation 文字
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.topnav(href='/') 开启 Bootstrap 之旅
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='#about') 关于
                li
                    a(href='#services') 服务
                li
                    a(href='#contact') 联系方式
