extends layout

block content

    h2= title
    p Hello #{user.name} , Welcome to #{title} .
    div.label-success You can park at #{title} now!


    label This line means the end !

block extendJs
    script(type='text/javascript').
        $("input").on("click", function () {
            console.log("点击了input 标签");
        });


