extends layout

block content

    a(name='about')
    .intro-header
        .container
            .row
                .col-lg-12
                    .intro-message
                        h1 欢迎页面
                        h3 Bootstrap 模板测试项目
                        hr.intro-divider
                        h4 您可以：
                        ul.list-inline.intro-social-buttons
                            li
                                a.btn.btn-default.btn-lg(href='/login/login.html')
                                    i.fa.fa-space-shuttle.fa-fw
                                    span.network-name 登陆
                            li
                                a.btn.btn-default.btn-lg(href='/login/register.html')
                                    i.fa.fa-user.fa-fw
                                    span.network-name 注册
                            li
                                a.btn.btn-default.btn-lg(href='#')
                                    i.fa.fa-arrow-right.fa-fw
                                    span.network-name 浏览进入

block extendJs
    script(type='text/javascript').
        $("input").on("click", function () {
            console.log("点击了input 标签");
        });


